
@font-face {
	font-family: "Berthold";
	src: url('../fonts/block_berthold_regular.ttf');
}

* { 
    margin: 0; 
    padding: 0;

	font-family: "Berthold";
}

html {
    background: url('../assets/background.png');
}


/* -------- COMMON SECTION START------- */

.main-banner {
    width: 60%;
    position: relative;
    left: 20%;
}

.page {
    overflow: hidden;
}

.hide {
    display: none;
}

.full-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}


/* -------- COMMON SECTION END-------- */


/* -------- HOME SECTION START------- */
#ending video {
    position: fixed; 
    right: 0; 
    bottom: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}

#home video {
    position: fixed; 
    right: 0; 
    bottom: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#home .row {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

#home .row h1 {
    font-size: 2vw;
    line-height: 1vw;
}
#home #screen {
    height: 10vw;
    vertical-align: middle;
}
#home #logo {
    width: 70%;
    margin: auto;
}
#home #lilo {
    width: 20vw;
}
#home #arrow {
    height: 10vw;
}
/* -------- HOME SECTION END-------- */


/* -------- TRANSITION SECTION START------- */

#transition {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
}

#transition .curtain {
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: top;
}

#transition .curtain:nth-child(1) {
    background: #fec334;
}

#transition .curtain:nth-child(2) {
    background: #f4ae3c;
}

#transition .curtain:nth-child(3) {
    background: #fec334;
}

#transition.active .curtain:nth-child(1) {
    animation-delay: 0s;
    animation-duration: 3s;
    animation-name: curtain-loop;
}

#transition.active .curtain:nth-child(2) {
    animation-delay: 0.1s;
    animation-duration: 3s;
    animation-name: curtain-loop;
}

#transition.active .curtain:nth-child(3) {
    animation-delay: 0.2s;
    animation-duration: 3s;
    animation-name: curtain-loop;
}


@keyframes curtain-loop {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    
    30% {
        transform: scaleY(1);
        transform-origin: top;
    }

    40% {
        transform: scaleY(1);
        transform-origin: top;
    }

    50% {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

/* -------- TRANSITION SECTION END------- */



/* -------- ANIMATION SECTION START------- */
#animation video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* -------- ANIMATION SECTION END-------- */

/* -------- GUESSING SCREEN SECTION START------- */
#guessing {
    height: 100vh;
    width: 100%;
}

#guessing .container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#guessing .arrow img {
    width: 16vw;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
}

#guessing .player {
    position: relative;
}
#guessing .player-infos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------- GUESSING SCREEN  SECTION END-------- */

/* -------- GUESSING SCREEN SECTION START------- */

/* -------- GUESSING SCREEN  SECTION END-------- */

/* -------- TEAM SECTION START -------- */

#players {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#players .player-item {
    margin: auto;
    width: 25%;
}

.player {
    width: 100%;
    position: relative;
    text-align: center;
}

.player .description {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: -1vw;
}

.player .name {
    margin: auto;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.player img{
    margin: auto;
    width: 4vw;
}

#guessing .player img{
    margin: auto;
    width: 20vw;
}

.player .photo {
    width: 60%;
    height: 15vw;
    position: relative;
    margin: auto;
}
.player .photo img{
    position: absolute;
    top: 50%;
}

.photo .photo-player {
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* -------- TEAM SECTION END -------- */