@font-face {
	font-family: "Berthold";
	src: url('block_berthold_regular.ttf');
}

* {
	margin: 0;
	box-sizing: border-box; 
	font-family: "Berthold";
	
}

.button-container {
	background-color: #56C0DC;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	margin-top: 5px;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	color: white;
	font-stretch: 

}

button {
	background-color: #F6BF47;
	height: 100%;
	margin: 2vh;
	font-size: 60px;
	color: white;
	border: none;
	border-radius: 20px;
	transition: 0.5s
}

button:focus {
	background-color: #f17105;
	transition: 0.5s
}